{% extends 'base.html' %}

{% block title %} {{ recipe_object.title }} {% endblock %}

{% block content %}
            <div class="recipe-detail">
                <div class="left-sidebar">
                    <div>
                        <p>Left Sidebar 1</p>
                    </div>
                    <div>
                        <p>Left Sidebar 2</p>
                    </div>
                    <div>
                        <p>Left Sidebar 3</p>
                    </div>
                    <div>
                        <p>Left Sidebar 4</p>
                    </div>
                </div>
            <div class="center-content">
            <h1>{{ recipe_object.title }}</h1>
                <p class= "author" >Written by: {{ recipe_object.author|title }}</p>
                <p class= "description" >{{ recipe_object.description }}</p>
            <div id="featured-photo">
                <img src="{{ recipe_object.image }}" >
            </div>
            <div class="recipe-rating">
                <p>
                    4.3 stars
                    {% if user.is_authenticated %}
                    <button class = "edit-this-recipe"><a href="{% url 'edit' recipe_object.id %}">Edit Recipe</a></button>
                    {% endif %}
                </p>
                </div>
                <div id="ingredients-list">
                    <h2>Ingredients</h2>
                    <table id ="ingredients-table">
                        <thead>
                          <tr>
                            <th>Amount</th>
                            <th>Ingredient</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for ingredient in recipe_object.ingredients.all %}
                            <tr>
                                <td>{{ ingredient.amount }}</td>
                                <td>{{ ingredient.food_item }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div id="recipe-steps">
                        <h2>Steps</h2>
                        <ol id = "step-list">
                            {% for step in recipe_object.steps.all %}
                            <li>{{ step.instruction }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <div class="right-sidebar">
                <div>
                    <p>Right Sidebar 1</p>
                </div>
                <div>
                    <p>Right Sidebar 2</p>
                </div>
                <div>
                    <p>Right Sidebar 3</p>
                </div>
            </div>
            </div>
{% endblock content %}
