{% extends 'base.html' %}

{% block title %} {{ recipe_object.title }} {% endblock %}

{% block content %}
            <div class="recipe-detail">
                <div class="center-content">
                    <h1> {{ recipe_object.title }} </h1>
                    <form method = "post">
                        {% csrf_token %}
                        {{ recipe_form.as_p }}
                        <button class = "create-button">Edit</button>
                    </form>
                </div>
            </div>
{% endblock content %}
