{% extends 'base.html' %}
{% load humanize %}

{% block title %} Scrumptious Recipes {% endblock %}
{% block content %}
            <div id="home-headings">
                <div><h1>Scrumptious Recipes</h1></div>
                <div><h2>All the food that's fit to eat</h2></div>
            </div>
                <div class="featured-grid" id="recipe-list">
                    {% for recipe in recipe_list %}
                    <div class = "recipe-preview">
                        <div class = "recipe-title">
                            <a href="{% url 'show_recipe' recipe.id %}">
                                <h3>{{ recipe.title }}</h3>
                            </a>
                        </div>
                        <div class = "recipe-featured-image">
                            <a href="{% url 'show_recipe' recipe.id %}">
                                <img src={{ recipe.image }}>
                            </a>
                        </div>
                        <div class="recipe-rating">
                            <p>
                                Posted: {{ recipe.created_on| naturaltime }} <br>
                                By {{ recipe.author.first_name|title }} {{ recipe.author.last_name}}

                                <!-- |<a href="detail.html"><span class = "view-this-recipe"> View this recipe </span></a> -->
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
{% endblock content %}
