{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Noto+Serif+Georgian:wght@100;200;300;400&display=swap" rel="stylesheet">

    </head>
    <body>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>

            {% if user.is_authenticated %}
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
            <a href="{% url 'my_recipe_list' %}">Hello, {{ user.first_name }}</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>Made with love by Scrumptious Recipes</p>
        </footer>
    </body>
</html>
